[Unit]
Description=Opticon API
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/opticon-api
PIDFile=opticon-api.pid
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
