[Unit]
Description=Opticon Agent
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/opticon-agent
PIDFile=opticon-agent.pid
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
