[Unit]
Description=Opticon Collector
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/opticon-collector
PIDFile=opticon-collector.pid
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
