collector {
    address: "opticon.example.com"
    port: 1047
    key: "xxx"
    tenant: "xxx"
}

probes {
# Custom probes can be added here, as well as amendments for default
# probes. Some examples:
#   df {
#       options: {
#           skip: ["/dev/disk2s2"]
#       }
#   }
#   myprobe {
#       type: exec
#       call: /usr/local/scripts/myprobe.sh
#       frequency: low
#   }
}
