<!-- toolbar -->
<form class="uToolbar">
  <div class="uSearchButton">
    <u-tabgroup cb="switchTab" name="server_status"
                tabs="ALERT:Alert,WARN:Warnings,ALL:All"></u-tabgroup>
  </div>
  <div class="uSearchInput right">
    <u-searchinput name="query" cb="search">Search</u-searchinput>
  </div>
</form>

<u-listkeyboard></u-listkeyboard>

<div class="uServerHeader">
  <table cellspacing="0" border="0" class="tbserverlist" width="100%">
    <tr height="22">
      <td width="*">
        <b>Hostname</b>
      </td>
      <td class="nonarrow" v-if="showextra" width="80"><b>Label</b></td>
      <td width="20" align="center"><img src="icon/header-pkg.png" height="16"></td>
      <td width="100"><b>Status</b></td>
      <td class="ipaddr"><b>IP Address</b></td>
      <td class="nonwide" width="64" align="center"><b>CPU</b></td>
      <td class="onlywide" width="128" align="center"><b>CPU</b></td>
      <td class="nonarrow" width="64" align="right"><b>Load</td>
      <td class="nonarrow" width="112" align="right"><b>Disk I/O</td>
      <td width="112" align="right"><b>Net I/O</td>
      <td width="100" align="right" class="onlywide"><b>Free RAM</b></td>
      <td width="80" align="right"><b>RTT</td>
    </tr>
  </table>
</div>

<div class="uSelectList uServerList" v-on:click="deSelect">
  <div v-show="empty" class="uNoResults">
    <center>No servers in the {{server_status}} state.<br>
    <table height="100%"><tr><td valign="center">
      <img v-static="keep" id="honking-checkmark" 
           src="icon/honking-checkmark.png"
           style="display:none;">
    </td></tr></table></center>
  </div>
  <span v-if="!empty">
    <table cellspacing="0" border="0" class="tbserverlist" width="100%">
      <tr height="32" v-for="o in overview"
          v-on:click="rowClick(o.id)">
        <td width="*"><table border="0" cellspacing="0" cellpadding="0"><tr>
          <td>
            <img class="osicon" src="{{osIcon(o)}}" height="16"
               style="margin-bottom:-4px;">
          </td><td>
            <b>{{String(o.hostname).toLowerCase()}}</b>
          </td></tr></table>
        </td>
        <td class="nonarrow" v-if="showextra" width="80">
          <span v-if="o.external.description">{{o.external.description}}</span>
          <span v-if="!o.external.description">–</span>
        </td>
        <td width="20" align="center">
          <span v-if="(o['pkgm/inq']>0)||(o['pkgm/reboot'])">
            <span v-bind:class="pkgDotClass(o['pkgm/inq'],o['pkgm/reboot'])"></span>
          </span>
        </td>
        <td width="100">
          <span v-bind:class="statusClass(o)">{{o.status}}</span>
        </td>
        <td class="ipaddr">
          {{o["link/ip"]}}
          <span class="unit" v-if="o['agent/ip'] &&(o['link/ip']!=o['agent/ip'])">
            -> {{o["agent/ip"]}}
          </span>
        </td>
        <td class="nonwide" align="right" width="64">
          <u-meter width="60" var="o.pcpu"></u-meter>
        </td>
        <td class="onlywide" align="right" width="128">
          <u-meter width="120" var="o.pcpu"></u-meter>
        </td>
        <td class="nonarrow" align="right" width="64">{{parseFloat(o.loadavg).toFixed(2)}}</td>
        <td class="nonarrow" align="right" width="112"
            v-html="translateUnit(o['io/rdops']+o['io/wrops'],'','iops')">
        </td>
        <td align="right" width="112"
            v-html="translateUnit(o['net/in_kbs']+o['net/out_kbs'],'K','b/s')">
        </td>
        <td width="100" align="right" class="onlywide">
          {{(parseFloat(o["mem/free"])/(1024*1024)).toFixed(2)}}
          <span class="unit">GB</span>
        </td>
        <td align="right" width="80">
          {{parseFloat(o["link/rtt"]).toFixed(2)}} <span class="unit">ms</span>
        </td>
      </tr>
    </table>
  </span>
</div>
