<!-- toolbar -->
<form class="uSearch">
        <div class="uToolbarButton">
            <u-tabgroup cb="switchTab" name="server_status"
                tabs="ALERT:Alert,WARN:Warnings,ALL:All"></u-tabgroup>
        </div>
</form>

<u-listkeyboard></u-listkeyboard>

<div class="uSelectList uServerList" v-on:click="deSelect">
    <div v-if="empty" class="uNoResults">
        <center>No servers found.</center>
    </div>
    <span v-if="!empty">
      <table cellspacing="0" border="0" class="tbserverlist" width="100%">
        <tr height="32" v-for="o,idx,count in overview">
          <td width="*"><b>{{o.hostname}}</b> ({{o["agent/ip"]}})</td>
          <td width="128">
            <span v-bind:class="statusClass(o)">{{o.status}}</span>
          </td>
          <td align="right" width="64">{{parseInt(o.pcpu).toFixed(2)}} %</td>
          <td align="right" width="64">{{parseInt(o.loadavg).toFixed(2)}}</td>
          <td align="right" width="80">{{parseInt(o["link/rtt"]).toFixed(2)}} ms</td>
        </tr>
      </table>
    </span>
</div>
